.header {
    position: relative;
}

.header img {
    display: block;
    height: 242px;
    margin: 0 auto;
}

.header div {
    position: absolute;
    bottom: -10px;
    height: 129px;
    width: 100%;
    background-color: rgba(248, 248, 248, 0.63);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 11px rgba(248, 248, 248, 0.6);
    text-align: center;
}

.header h2 {
    line-height: 37px;
    margin-top: 22px;
    font-size: 32px;
    font-weight: 600;
}

.header p {
    margin-top: 22px;
}

.title {
    margin-top: 30px;
    line-height: 2.5;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
}

.card {
    margin: 0 auto;
    height: 234px;
    width: 92.33333%;
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0 0 4px #eee;
}