.main-content {  
    flex-direction: column;
    display: flex;
}

.main-content label {
    margin: 20px 0 10px;
    font-size: 18px;
}

.main-content input {
    box-sizing: border-box;
    border: 0;
    min-height: 40px;
    padding:  0 5px;
    width: 100%;
    margin: 10px auto;
    background-color: #f4f4f4d5;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.45);

}

.main-content button {
    background-color: #248eff;
    border-radius: 8px;
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    margin: 10px auto;
}